<h2>{{ category.name }} Tasks</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Completed</th>
      <th>Update</th> <!-- New column for update button -->
      <th>Delete</th> <!-- New column for delete button -->
    </tr>
  </thead>
  <tbody>
    {% if task_list %}
      {% for task in task_list %}
      <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.due_date }}</td>
        <td>{{ task.completed }}</td>
        <td><a href="{% url 'todo_list:category_task_update' category_id=category.id task_id=task.id %}">Update</a></td><!-- Update button -->
        <td><a href="{% url 'todo_list:category_task_delete' category.id task.id %}">Delete</a></td> <!-- Delete button -->
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="6">No tasks available.</td>
      </tr>
    {% endif %}
  </tbody>
</table>

<a href="{% url 'todo_list:category_task_create' category.id %}">Add Task</a>
