<h3><a href="{% url 'todo_list:index' %}"><strong><-- Back to Dashboard</strong></a></h3>
<form method="get" action="{% url 'todo_list:tasks' %}">
    <input type="text" name="q" placeholder="Search..." value="{{ query|default:'' }}">
    <button type="submit">Search</button>
</form>
<h2>Tasks</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Completed</th>
      <th>Category</th>
      <th>Update</th> <!-- New column for update button -->
      <th>Delete</th> <!-- New column for delete button -->
    </tr>
  </thead>
  <tbody>
    {% if task_list %}
      {% for task in task_list %}
      <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.due_date }}</td>
        <td>{{ task.completed }}</td>
        <td>{{ task.category.name }}</td>
        <td><a href="{% url 'todo_list:task_update' task.id %}">Update</a></td><!-- Update button -->
        <td><a href="{% url 'todo_list:task_delete' task.id %}">Delete</a></td> <!-- Delete button -->
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="6">No tasks available.</td>
      </tr>
    {% endif %}
  </tbody>
</table>

<a href="{% url 'todo_list:task_create' %}">Add Task</a>
