<!DOCTYPE html>
<html>
<head>
    <title>Verify Email</title>
    <style>
        .errorlist {
            color: red;
        }
    </style>
</head>
<body>
<h2>Verify Email</h2>
<h5>An OTP has been send to you email. Please verify your Email Address!</h5>
<div style="color: red">
    {% if messages %}
        {% for message in messages %}
        {{message}}
        {% endfor %}
    {% endif %}
</div>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Verify</button>
</form>

</body>
</html>