{#<h2>Reminder</h2>#}
{##}
{#<form method="POST">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <button type="submit">Add Reminder</button>#}
{#</form>#}

<!DOCTYPE html>
<html lang="en">
<head>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const timezoneField = document.getElementById('timezone');
            timezoneField.value = Intl.DateTimeFormat().resolvedOptions().timeZone;
        });
    </script>
</head>
<body>
    <h2>Reminder</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" id="timezone" name="timezone">
        <button type="submit">Save Reminder</button>
    </form>
</body>
</html>
